.auth-content {
    background-image: url("https://i.pinimg.com/originals/7b/b4/43/7bb4439e279301729e27d2f83e33daf4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
